In [1]:
from sklearn import tree
import pandas as pd

In [14]:
url="https://gwprojectflask.herokuapp.com/api/data/raw_results"
df = pd.read_json(url)
df.head()

,Chart_Type,Correct,Data_Type,Survey_ID,value
0,Bar,0,categoryvsvalue,9e22cd438d684a29a5e84044b83b6664a9152e35453014...,sq_101
1,Map,0,valuevslocation,9e22cd438d684a29a5e84044b83b6664a9152e35453014...,sq_102
2,Rings,0,valuevstime,9e22cd438d684a29a5e84044b83b6664a9152e35453014...,sq_103
3,Bar,0,comparison,9e22cd438d684a29a5e84044b83b6664a9152e35453014...,sq_104
4,Bubble,0,categoryvsvalue,9e22cd438d684a29a5e84044b83b6664a9152e35453014...,sq_105

In [15]:
df_data=df[['Data_Type','Correct']]
df_target=df['Chart_Type']
df_target.unique()

array(['Bar', 'Map', 'Rings', 'Bubble', 'Table', 'Tree', 'Scatter', 'Pie',
       'Line'], dtype=object)

In [16]:
df_data_dummies = pd.get_dummies(df_data)
df_data_dummies.head()

,Correct,Data_Type_categoryvsvalue,Data_Type_comparison,Data_Type_valuevslocation,Data_Type_valuevstime,Data_Type_valuevsvalue
0,0,1,0,0,0,0
1,0,0,0,1,0,0
2,0,0,0,0,1,0
3,0,0,1,0,0,0
4,0,1,0,0,0,0

In [17]:
data_names = ['Number Correct','DimensionVsMeasure','Comparison','Dimension(Location)VsMeasure','Dimension(Time)VsMeasure','MeasureVsMeasure']
target_names = df_target.unique()

In [18]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(df_data_dummies, df_target)

In [20]:
clf.predict([[1,0,0,1,0,0]])

array(['Bar'], dtype=object)